/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  color: white;
  height: 100vh;
  background: linear-gradient(200.96deg,
      #fedc2a -29.09%,
      #dd5789 51.77%,
      #7a2c9e 129.35%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Fira sans', sans-serif;
  overflow: hidden;
}

#root, .root {
  height: 100vh;
  overflow: hidden;
}

.topRow {
  height: 23%;
  max-height: 23%;
}

.topVideo {
  position: absolute;
  width: 350px;
  max-width: 350px;
  height: 225px;
  max-height: 225px;
  padding: 1rem;
  top: 0;
  right: 0;
}

video {
  border-radius: 1rem;
  background-color: rgba(24, 39, 75, 0.14);
  background-image: url("https://www.nicepng.com/png/detail/136-1366211_group-of-10-guys-login-user-icon-png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.topVideo video {
  width: auto;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#video-grid::-webkit-scrollbar {
  display: none;
}

#video-grid {
  height: 650px;
  max-height: 650px;
  justify-content: center;
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fill, 300px);
  background-color: rgba(24, 39, 75, 0.32);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: auto;
}

#video-grid video {
  width: 300px;
  height: 200px;
}

#chat-container::-webkit-scrollbar {
  display: none;
}

#chat-container {
  height: 650px;
  max-height: 650px;
  justify-content: center;
  padding: 1rem;
  margin-block: 1rem;
  background-color: rgba(24, 39, 75, 0.24);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: auto;
}

#chat-container p {
  width: 98%;
  padding: 1rem;
  margin-block: 1.5rem;
  border-radius: 0.5rem;
  font-size: x-large;
  font-weight: 700;
  font-family: monospace;
  white-space:break-spaces;
  background-color: rgba(24, 39, 75, 0.32);
}

#chat-container .aiResponse {
  color: aqua;
  background-color: rgba(24, 39, 75, 0.42);
}

.bottomInput {
  height: 10%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  padding-inline: 175px;
  align-items:safe;
  align-content:center;
  justify-content: center;
  vertical-align: middle;
  background-color: rgba(24, 39, 75, 0.32);
}

.bottomInput button {
  color: #fff;
  font-size: x-large;
}

.bottomInput input {
  margin-right: -3.2rem;
  color: #fff;
  font-weight: 700;
  background-color: rgba(24, 39, 75, 0.14);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bottomInput input:focus {
  color: #fff;
  font-weight: 700;
  background-color: rgba(24, 39, 75, 0.14);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bottomInput input::placeholder {
  color: #fff;
}
