/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(200.96deg,
      #fedc2a -29.09%,
      #dd5789 51.77%,
      #7a2c9e 129.35%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(200.96deg,
      #fedc2a -29.09%,
      #dd5789 51.77%,
      #7a2c9e 129.35%);
}

html, body, #root, .root {
  color: white;
  height: 100vh;
  background: linear-gradient(200.96deg,
      #fedc2a -29.09%,
      #dd5789 51.77%,
      #7a2c9e 129.35%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Fira sans', sans-serif;
}

header {
  height: 20vh;
  width: 100%;
  position: fixed;
  top: 0;
}

main {
  height: 100vh;
  -ms-overflow-style: none;
  /* Firefox */
  overflow: auto;
}

footer {
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #333;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.footerMargin {
  height: 10vh;
  min-height: 10vh;
  width: 100%;
}

.headerMargin {
  height: 20vh;
  min-height: 20vh;
  width: 100%;
}

video {
  border-radius: 1rem;
  background-color: rgba(24, 39, 75, 0.14);
  background-image: url("https://www.nicepng.com/png/detail/136-1366211_group-of-10-guys-login-user-icon-png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#myMedia {
  max-height: 20vh;
  padding: 1rem;
}

#myMedia video {
  width: 250px;
  max-width: 250px;
  height: 16vh;
  max-height: 16vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#video-grid {
  justify-content: center;
  display: grid;
  padding: 1rem;
  margin-block: 1rem;
  gap: 1rem;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fill, 300px);
  background-color: rgba(24, 39, 75, 0.32);
}

#video-grid video {
  width: 300px;
  height: 200px;
}

#chat-container {
  justify-content: center;
  padding: 1rem;
  margin-block: 1rem;
}

#chat-container p {
  width: 95%;
  padding: 1rem;
  margin-block: 1.5rem;
  border-radius: 0.5rem;
  font-size: x-large;
  font-weight: 700;
  font-family: monospace;
  white-space: break-spaces;
  background-color: rgba(24, 39, 75, 0.32);
}

#chat-container .aiResponse {
  color: aqua;
  background-color: rgba(24, 39, 75, 0.42);
}

.bottomInput textarea, .bottomInput button  {
  height: 100%;
}

.bottomInput textarea, .bottomInput textarea:focus {
  color: #fff;
  font-weight: 700;
  font-size: larger;
  background-color: rgba(24, 39, 75, 0.14);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  resize:none;
}

.bottomInput textarea::placeholder {
  color: #fff;
}

#scrollToBottom button {
  position: fixed; /* Fixed/sticky position */
  bottom: 150px; /* Place the button at the bottom of the page */
  right: 35px; /* Place the button 30px from the right */
  z-index: 1000; /* Make sure it does not overlap */
}
